* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.project-name-input-div {
    margin-bottom: 30px;
    padding-bottom: 30px;
    display: flex;
    gap: 5px;
    border-bottom: 1px solid rgb(202, 202, 202);
}

.hidden {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.shown {
    display: block;
    visibility: visible;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-with-back, .header-no-back {
    background-color: rgb(30, 98, 177);
    color: rgb(245, 245, 245);
    height: 100px;
    font-size: 30px;
    box-shadow: 0px 2px 2px 0px #474747;
    position: relative;
}

.header-with-back {
    display: grid;
    grid-template-columns: 100px 1fr;
    justify-content: center;
    align-items: center;
}

.header-no-back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-img {
    width: 40px;
}

#add-project-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 40px;
    z-index: 100;
}

#add-project-button:hover, #new-task-input-button:hover {
    background-color: rgb(255, 190, 68);
    cursor: pointer;
}

#content {
    background-color: rgb(39, 39, 39);
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
}

.project-div {
    background-color: rgb(224, 224, 224);
    height: 400px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 3px 3px 3px 0px #5c5c5c;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    overflow: hidden;
}

.project-outer-div {
    height: 420px;
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.project-outer-div:hover {
    border: solid rgb(224, 224, 224) 3px;
    border-radius: 25px;
    cursor: pointer;
}

ul {
    list-style-position: inside;
    line-height: 20px;
}

.project-date-span {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.project-div h2 {
    margin-bottom: 2px;
}

.back-button {
    background-color: rgb(30, 98, 177);
    border: none;
    border-right: 1px solid rgb(82, 152, 233);
    width: 100px;
    height: 100px;
}

.back-button:hover {
    background-color: rgb(44, 121, 209);
    cursor: pointer;
}

.header-with-back h1{
    margin: auto;
}

#new-project-form {
    background-color: rgb(224, 224, 224);
    display: grid;
    grid-template-rows: fit-content(200px) 100px 1fr;
    min-height: 70vh;
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 3px 3px 3px 0px rgb(80, 80, 80);
}

#new-task-input-button {
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: orange;
    border: none;
    border-radius: 25%;
    color: white;
    font-size: 24px;
    box-shadow: 2px 2px 2px 0px rgb(146, 146, 146);
}

#buttons-div {
    display: flex;
    justify-content: right;
    align-items: end;
}

#save-button {
    width: 100px;
    height: 50px;
    background-color: rgb(30, 98, 177);
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 2px 0px rgb(146, 146, 146);
}

#save-button:hover {
    background-color: rgb(44, 121, 209);
    cursor: pointer;
}

.text-input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 20px;
    border: none;
    font-size: 16px;
}

.text-input:focus {
    outline: solid 2px rgb(30, 98, 177);
}

.input-div {
    display: grid;
    grid-template-columns: 1fr 40px 130px 70px 40px;
    gap: 5px;
    margin-bottom: 5px;
}

.desc-button {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #ffffff;
}

.desc-button:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.desc-icon {
    width: 100%;
}

.date-input {
    border-radius: 20px;
    border: none;
    padding: 0px 10px;
}

.description-input {
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    resize: none;
    overflow: hidden;
    height: 48px;
}

.description-input:focus {
    outline: 1px solid rgb(90, 90, 90);
}

.priority-select {
    border: none;
    border-radius: 20px;
    background-color: white;
}

.remove-task-button {
    border: none;
    font-size: 32px;
    font-weight: 700;
    height: 40px;
    color: red;
    background-color: inherit;
}

.task-done {
    text-decoration: line-through;
    color: rgb(124, 124, 124);
}

.project-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 224, 224);
    display: grid;
    grid-template-rows: 100px fit-content(200px);
    min-height: 70vh;
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 3px 3px 3px 0px rgb(80, 80, 80);
}

.edit-project-button {
    width: 50px;
    height: 50px;
    background-color: rgb(224, 224, 224);
    border: none;
}

.edit-project-button:hover {
    cursor: pointer;
}

.edit-img {
    width: 60%;
    height: 60%;
}

.project-section {
    display: grid;
    grid-template-columns: auto 50px 1fr;
    gap: 5px;
    align-items: center;
}

.tasks-section {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.remove-button-container {
    display: flex;
    justify-content: right;
}

.remove-project-button {
    width: 50px;
    height: 50px;
    color: rgb(224, 224, 224);
    background-color: red;
    font-size: 30px;
    font-weight: 700;
    border-radius: 50%;
    border: none;
}

.remove-project-button:hover {
    cursor: pointer;
    background-color: rgb(163, 11, 11);
}

.project-deadline {
    grid-column: 1 / 4;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.project-name {
    font-size: 24px;
}

.alert-img {
    width: 24px;
}

.remove-project-modal[open] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 180px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: solid 1px black;
    border-radius: 20px;
}

.remove-project-modal::backdrop {
    background-color: rgba(53, 53, 53, 0.801);
}

.dialog-buttons-div {
    display: flex;
    justify-content: space-around;
}

.dialog-cancel-button, .dialog-confirm-button {
    font-size: 16px;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 8px;
}

.dialog-text {
    font-size: 20px;
    font-weight: 500;
}

.dialog-confirm-button {
    background-color: rgb(30, 98, 177);
    color: white;
    border: none;
}

.dialog-confirm-button:hover {
    cursor: pointer;
    background-color: rgb(44, 121, 209);
}

.dialog-cancel-button {
    background-color: white;
    color: rgb(30, 98, 177);
    border: 1px solid rgb(30, 98, 177);
}

.dialog-cancel-button:hover {
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}

.task-div {
    display: grid;
    grid-template-columns: 30px 850px 1fr 50px;
    gap: 10px;
    align-items: center;
}

.remove-task-button-container {
    display: flex;
    justify-content: right;
}

.task-checkbox {
    width: 25px;
    height: 25px;
}

.task-deadline-span {
    display: flex;
    justify-content: right;
}

.desc-div {
    grid-column: 1 / 4;
    border: dashed 1px black;
    border-top: none;
    padding: 10px;
    font-size: 16px;
}

.task-name-span {
    font-size: 18px;
}

.task-name-span:hover {
    cursor: pointer;
}